<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Lista de Empleados</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous">
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous" async></script>

    </head>
    <body>
        <h1>Lista de Empleados</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Horas Trabajadas</th>
                    <th>Tipo Contrato</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="empleado : ${empleados}">
                    <td th:text="${empleado.nombre}"></td>
                    <td th:text="${empleado.apellido}"></td>
                    <td th:text="${empleado.email}"></td>
                    <td th:text="${empleado.horasTrabajadas}"></td>
                    <td th:text="${empleado.tipoContrato}"></td>
                    <td th:text="${empleado.salario}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>